body {
text-align: center;
background: lenear-gradiant(#08fa00 0%,#9620a1 100%)
background-repeat:no-repeat;
}
img {
border-radius:50%; 
width: 100px;
}
h1 {
text-shadow: 2px 2px #F8BBD0;
font-size: 20px;    
}
p {
font-size: 18px;    
color: #6A1B9A;     
}